NODE_ENV=Isi-sendiri
PORT=Isi-sendiri
SERVICE_NAME=Isi-sendiri

INTERNAL_KEY=Isi-sendiri

MASTER_SERVICE_URL=Isi-sendiri
AUTH_SERVICE_URL=Isi-sendiri
RBAC_SERVICE_URL=Isi-sendiri
TRANSACTION_SERVICE_URL=Isi-sendiri

JWT_SECRET=Isi-sendiri